apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-dashboard
resources:
  - secret.yaml
  - dns-endpoint.yaml
helmCharts:
  - name: headlamp
    namespace: headlamp
    releaseName: headlamp
    version: 0.39.0
    repo: https://kubernetes-sigs.github.io/headlamp/
    valuesInline:
      replicaCount: 1
      config:
        inCluster: false
        # Mount kubeconfig to bypass authentication
        extraArgs:
          - "-kubeconfig=/mnt/config/kubeconfig"
        inClusterContextName: "main"
        oidc:
          secret:
            create: false
          externalSecret:
            enabled: true
            name: headlamp
        pluginsDir: "/headlamp/plugins"
        enableHelm: false
        watchPlugins: false
      env:
        - name: HEADLAMP_CONFIG_OIDC_USE_ACCESS_TOKEN
          value: "true"
      serviceAccount:
        create: true
      clusterRoleBinding:
        create: true
      securityContext:
        runAsNonRoot: true
        privileged: false
        runAsUser: 100
        runAsGroup: 101
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: public
          cert-manager.io/cluster-issuer: lets-encrypt
          nginx.ingress.kubernetes.io/server-snippet: |-
            large_client_header_buffers 4 64k;
            proxy_set_header X-Forwarded-Proto $scheme;
        hosts:
          - host: k8s-test.brhd.io
            paths:
              - path: /
                type: ImplementationSpecific
      # Refer to https://gateway-api.sigs.k8s.io/reference/spec/#gateway.networking.k8s.io/v1.HTTPRoute
      httpRoute:
        enabled: false
      resources: {}
      pluginsManager:
        enabled: false
      podDisruptionBudget:
        enabled: false
      nodeSelector:
        node.kubernetes.io/microk8s-controlplane: microk8s-controlplane
      tolerations:
        - key: "node.kubernetes.io/unschedulable"
          operator: Exists
      # Fully bypass authentication, ref: https://github.com/kubernetes-sigs/headlamp/issues/1801#issuecomment-3753050855
      initContainers:
        - name: init-kubeconfig
          image: busybox:latest
          command:
            - /bin/sh
            - -c
            - |
              KUBE_TOKEN=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)
              KUBE_CA=$(cat /var/run/secrets/kubernetes.io/serviceaccount/ca.crt | base64 | tr -d '\n')
              NAMESPACE=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
              
              cat <<EOF > /mnt/config/kubeconfig
              apiVersion: v1
              kind: Config
              clusters:
              - name: default-cluster
                cluster:
                  certificate-authority-data: ${KUBE_CA}
                  server: https://${KUBERNETES_SERVICE_HOST}:${KUBERNETES_SERVICE_PORT}
              contexts:
              - name: default-context
                context:
                  cluster: default-cluster
                  user: headlamp
                  namespace: ${NAMESPACE}
              current-context: default-context
              users:
              - name: headlamp
                user:
                  token: ${KUBE_TOKEN}
              EOF
          volumeMounts:
            - name: shared-config
              mountPath: /mnt/config
      volumeMounts:
        - name: shared-config
          mountPath: /mnt/config
      volumes:
        - name: shared-config
          emptyDir: {}
