# Service: Radarr
# Ingress: radarr.brhd.io
# Label: app.kubernetes.io/name: radarr
---
apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
  labels:
    app.kubernetes.io/name: radarr
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 7878
  selector:
    app.kubernetes.io/name: radarr
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: media
  labels:
    app.kubernetes.io/name: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: radarr
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: media
      labels:
        app.kubernetes.io/name: radarr
    spec:
      restartPolicy: Always
      containers:
        - name: radarr
          image: ghcr.io/hotio/radarr:release-5.28.0.10274
          resources:
            requests:
              memory: 500Mi
              cpu: 500m
            limits:
              memory: 1000Mi
              cpu: 1000m
          envFrom:
            - secretRef:
                name: radarr
            - configMapRef:
                name: radarr
          ports:
            - containerPort: 7878
          volumeMounts:
            - name: radarr-config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: radarr-config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: radarr
  namespace: media
  labels:
    app.kubernetes.io/name: radarr
data:
  RADARR__APP__INSTANCENAME: Radarr
  RADARR__APP__THEME: dark
  RADARR__APP__LAUNCHBROWSER: "False"

  RADARR__SERVER__BINDADDRESS: "*"
  RADARR__SERVER__PORT: "7878"
  RADARR__SERVER__SSLPORT: "9898"
  RADARR__SERVER__ENABLESSL: "False"
  RADARR__SERVER__URLBASE: ""

  RADARR__AUTH__METHOD: External
  RADARR__AUTH__REQUIRED: Enabled

  RADARR__UPDATE__MECHANISM: Docker

  RADARR__LOG__LEVEL: info
  RADARR__LOG__ANALYTICSENABLED: "False"

  RADARR__POSTGRES__HOST: cnpg-default-rw.default.svc.cluster.local
  RADARR__POSTGRES__PORT: "5432"
