# Service: Omada Controller
# Ingress: omada.brhd.io
# Label: app.kubernetes.io/name: omada
---
kind: Service
apiVersion: v1
metadata:
  name: omada
  labels:
    app.kubernetes.io/name: omada
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 8043
      targetPort: 8043
  selector:
    app.kubernetes.io/name: omada
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: omada
  labels:
    app.kubernetes.io/name: omada
  namespace: default
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: omada
  revisionHistoryLimit: 1
  template:
    metadata:
      annotations:
        k8s.v1.cni.cncf.io/networks: macvlan-omada
      labels:
        app.kubernetes.io/name: omada
    spec:
      restartPolicy: Always
      containers:
        - image: registry.brhd.io/docker.io/mbentley/omada-controller:6.0.0.24
          name: omada
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1
              memory: 2Gi
          envFrom:
            - configMapRef:
                name: omada
          volumeMounts:
            - name: omada-data
              mountPath: /opt/tplink/EAPController/data
            - name: omada-logs
              mountPath: /opt/tplink/EAPController/logs
            - name: omada-autobackup
              mountPath: /opt/tplink/EAPController/data/autobackup
      # TODO: Temporary enforcing specific set of nodes till network interface names can be aligned across all nodes of the cluster
      nodeSelector:
        beta.kubernetes.io/arch: amd64
        node.kubernetes.io/microk8s-worker: microk8s-worker
      volumes:
        - name: omada-data
          persistentVolumeClaim:
            claimName: omada-data
        - name: omada-logs
          persistentVolumeClaim:
            claimName: omada-logs
        - name: omada-autobackup
          persistentVolumeClaim:
            claimName: omada-autobackup
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: omada
  namespace: default
  labels:
    app.kubernetes.io/name: omada
data:
  TZ: "Europe/Amsterdam"
  SHOW_SERVER_LOGS: "true"
  SHOW_MONGODB_LOGS: "false"
  MANAGE_HTTPS_PORT: "8043"
