# Service: Invidious
# Ingress: yt.brhd.io
# Label: app.kubernetes.io/name: invidious
---
apiVersion: v1
kind: Service
metadata:
  name: invidious
  namespace: privacy
  labels:
    app.kubernetes.io/name: invidious
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  selector:
    app.kubernetes.io/name: invidious
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: invidious
  namespace: privacy
  labels:
    app.kubernetes.io/name: invidious
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: invidious
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: privacy
      labels:
        app.kubernetes.io/name: invidious
    spec:
      restartPolicy: Always
      containers:
        - name: invidious
          image: quay.io/invidious/invidious:2.20250913.0
          resources:
            requests:
              memory: 100Mi
              cpu: 50m
            limits:
              memory: 500Mi
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: invidious
            - configMapRef:
                name: invidious
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: 3000
          #   initialDelaySeconds: 30
          #   periodSeconds: 120
        - name: companion
          image: quay.io/invidious/invidious-companion:latest
          envFrom:
            # Ref: https://github.com/iv-org/invidious-companion/blob/master/config/config.example.toml
            - secretRef:
                name: invidious
          ports:
            - containerPort: 8282
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      nodeSelector:
        beta.kubernetes.io/arch: amd64
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: invidious
  namespace: privacy
  labels:
    app.kubernetes.io/name: invidious
data:
  INVIDIOUS_CHECK_TABLES: "true"
  INVIDIOUS_DOMAIN: "yt.brhd.io"
  INVIDIOUS_PORT: "3000"
  INVIDIOUS_EXTERNAL_PORT: "80"
  INVIDIOUS_HTTPS_ONLY: "true"
  INVIDIOUS_LOG_LEVEL: "Info"

  INVIDIOUS_POPULAR_ENABLED: "true"
  INVIDIOUS_STATISTICS_ENABLED: "false"
  INVIDIOUS_REGISTRATION_ENABLED: "true"
  INVIDIOUS_LOGIN_ENABLED: "true"
  INVIDIOUS_CAPTCHA_ENABLED: "false"
  INVIDIOUS_ENABLE_USER_NOTIFICATIONS: "true"

  INVIDIOUS_CHANNEL_THREADS: "1"
  INVIDIOUS_CHANNEL_REFRESH_INTERVAL: "1h"
  INVIDIOUS_FULL_REFRESH: "false"

  INVIDIOUS_CONFIG: |
    default_user_preferences: 
      region: NL
      dark_mode: dark
      player_style: youtube
      quality: dash
      quality_dash: best
      vr_mode: false
      save_player_pos: true
