apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - pod-scrape.yaml
  - secret.yaml
  - storage-class.yaml
helmCharts:
    - name: cloudnative-pg
      namespace: default
      releaseName: cloudnative-pg
      version: 0.27.0
      repo: https://cloudnative-pg.github.io/charts
      valuesInline:
        replicaCount: 3
        updateStrategy:
          type: RollingUpdate
        config:
          clusterWide: true
          # Ref: https://cloudnative-pg.io/documentation/current/operator_conf/#available-options
          data: {}
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
          limits:
            cpu: 100m
            memory: 100Mi
        monitoring:
          podMonitorEnabled: false
          grafanaDashboard:
            create: true
            sidecarLabel: "grafana-dashboard"
            sidecarLabelValue: "true"
        nodeSelector:
          node.kubernetes.io/microk8s-controlplane: microk8s-controlplane
        tolerations:
          - key: "node.kubernetes.io/unschedulable"
            operator: Exists
    # Barman Cloud CNPG-I plugin
    - name: plugin-barman-cloud
      namespace: default
      releaseName: plugin-barman-cloud
      version: 0.2.0
      repo: https://cloudnative-pg.github.io/charts
      valuesInline:
        crds:
          create: true
        serviceAccount:
          create: true
        resources:
          requests:
            memory: 25Mi
            cpu: 50m
          limits:
            memory: 50Mi
