---
apiVersion: v1
kind: Service
metadata:
  name: plugin-barman-cloud-metrics
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: metrics
  selector:
    app.kubernetes.io/name: plugin-barman-cloud
  type: ClusterIP