apiVersion: apps/v1
kind: DaemonSet
metadata: 
  name: calico-node
  namespace: kube-system
  labels:
    k8s-app: calico-node
spec:
  template:
    spec:
      containers:
        - name: calico-node
          env:
            # Ref: https://microk8s.io/docs/change-cidr#configure-calico-ip-autodetection-method
            # Ref: https://docs.tigera.io/calico/latest/networking/ipam/ip-autodetection#change-the-autodetection-method
            # Ref: https://docs.tigera.io/calico/latest/reference/configure-calico-node#ip-autodetection-methods
            - name: IP_AUTODETECTION_METHOD
              value: can-reach=8.8.8.8  # ex: cidr=x.x.x.x/x
