---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-interface-only
  namespace: kube-system
spec: 
  # TODO: alias eth0
  config: '{
      "cniVersion": "0.3.1",
      "type": "macvlan",
      "master": "enp6s19",
      "mode": "bridge",
      "ipam": {}
    }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: vlan-pub-network
  namespace: kube-system
spec:
  config: '{
      "cniVersion": "0.3.1",
      "type": "vlan",
      "master": "net1",
      "vlanId": 1,
      "linkInContainer": true,
      "ipam": {
        "type": "host-local",
        "subnet": "192.168.1.0/24",
        "rangeStart": "192.168.1.120",
        "rangeEnd":   "192.168.1.140",
        "gateway": "192.168.1.2"
      }
    }'