# ===========================================================================
# All nodes have only one network interface pointing to the dedicated server 
# / service VLAN (native), however some services, e.g. Home Assistant, need 
# to be exposed on generic VLAN (tagged).
#
# Networrk Attachment Definitions:
#   - "macvlan-interface-only" will be used to create network interface 
#     within the pod connected to native VLAN (wo assigned IP address)
#   - "vlan-pub-network" creates interface pointed to the tagged VLAN
#
# Documentation:
#   - CNI Plugin Documentation: https://www.cni.dev/plugins/current/
# 
# Prerequisites:
#   - configure aliases for network interfaces on all nodes with
#       `sudo ip link property add dev <interface> altname nic0``
# =========================================================================
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-interface-only
  namespace: kube-system
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "type": "macvlan",
      "master": "enp6s19",
      "mode": "bridge",
      "ipam": {}
    }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-pub-network
  namespace: kube-system
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "type": "macvlan",
      "master": "enp6s18",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "192.168.1.0/24",
        "rangeStart": "192.168.1.120",
        "rangeEnd":   "192.168.1.140",
        "gateway": "192.168.1.2"
      }
    }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: vlan-pub-network
  namespace: kube-system
spec:
  config: '{
      "cniVersion": "0.3.1",
      "type": "vlan",
      "master": "net1",
      "vlanId": 1,
      "linkInContainer": true,
      "ipam": {
        "type": "host-local",
        "subnet": "192.168.1.0/24",
        "rangeStart": "192.168.1.120",
        "rangeEnd":   "192.168.1.140",
        "gateway": "192.168.1.1"
      }
    }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: vlan-pub-network-static
  namespace: kube-system
spec:
  config: '{
      "cniVersion": "0.3.1",
      "type": "vlan",
      "master": "net1",
      "vlanId": 1,
      "linkInContainer": true,
      "ipam": {
        "type": "static",
        "addresses": [
          {
            "address": "192.168.1.126/24",
            "gateway": "192.168.1.1"
          }
        ]
      }
    }'
---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-forge-network
  namespace: kube-system
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "type": "macvlan",
      "master": "enp6s18",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "192.168.1.0/24",
        "rangeStart": "192.168.1.120",
        "rangeEnd":   "192.168.1.140",
        "gateway": "192.168.1.2"
      }
    }'
