# Service: Lidarr
# Ingress: lidarr.brhd.io
# Label: app.kubernetes.io/name: lidarr
---
apiVersion: v1
kind: Service
metadata:
  name: lidarr
  namespace: media
  labels:
    app.kubernetes.io/name: lidarr
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8686
  selector:
    app.kubernetes.io/name: lidarr
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr
  namespace: media
  labels:
    app.kubernetes.io/name: lidarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: lidarr
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: media
      labels:
        app.kubernetes.io/name: lidarr
    spec:
      restartPolicy: Always
      containers:
        - name: lidarr
          image: ghcr.io/hotio/lidarr:release-3.1.0.4875
          resources:
            requests:
              memory: 500Mi
              cpu: 500m
            limits:
              memory: 1000Mi
              cpu: 1000m
          envFrom:
            - secretRef:
                name: lidarr
            - configMapRef:
                name: lidarr
          ports:
            - containerPort: 8686
          volumeMounts:
            - name: lidarr-config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: lidarr-config
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lidarr
  namespace: media
  labels:
    app.kubernetes.io/name: lidarr
data:
  LIDARR__APP__INSTANCENAME: Lidarr
  LIDARR__APP__THEME: dark
  LIDARR__APP__LAUNCHBROWSER: "False"

  LIDARR__SERVER__BINDADDRESS: "*"
  LIDARR__SERVER__PORT: "8686"
  LIDARR__SERVER__SSLPORT: "6868"
  LIDARR__SERVER__ENABLESSL: "False"
  LIDARR__SERVER__URLBASE: ""

  LIDARR__AUTH__METHOD: External
  LIDARR__AUTH__REQUIRED: Enabled

  LIDARR__UPDATE__MECHANISM: Docker

  LIDARR__LOG__LEVEL: info
  LIDARR__LOG__ANALYTICSENABLED: "False"

  LIDARR__POSTGRES__HOST: cnpg-default-rw.default.svc.cluster.local.
  LIDARR__POSTGRES__PORT: "5432"
