apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - blocky.yaml
  - service-api.yaml
  - service-dns.yaml
  - secret.yaml
  - ingress.yaml
  - service-scrape.yaml
  - dashboards/
configMapGenerator:
  - name: blocky-config
    files:
      - config/config.yml
