# Service: Sonarr
# Ingress: sonarr.brhd.io
# Label: app.kubernetes.io/name: sonarr
---
apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: media
  labels:
    app.kubernetes.io/name: sonarr
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8989
  selector:
    app.kubernetes.io/name: sonarr
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
  labels:
    app.kubernetes.io/name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarr
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: media
      labels:
        app.kubernetes.io/name: sonarr
    spec:
      restartPolicy: Always
      containers:
        - name: sonarr
          image: ghcr.io/hotio/sonarr:release-4.0.16.2944
          resources:
            requests:
              memory: 500Mi
              cpu: 500m
            limits:
              memory: 1000Mi
              cpu: 1000m
          envFrom:
            - secretRef:
                name: sonarr
            - configMapRef:
                name: sonarr
          ports:
            - containerPort: 8989
          volumeMounts:
            - name: sonarr-config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: sonarr-config
          persistentVolumeClaim:
            claimName: sonarr-config
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sonarr
  namespace: media
  labels:
    app.kubernetes.io/name: sonarr
data:
  SONARR__APP__INSTANCENAME: Sonarr
  SONARR__APP__THEME: dark
  SONARR__APP__LAUNCHBROWSER: "False"

  SONARR__SERVER__BINDADDRESS: "*"
  SONARR__SERVER__PORT: "8989"
  SONARR__SERVER__SSLPORT: "9898"
  SONARR__SERVER__ENABLESSL: "False"
  SONARR__SERVER__URLBASE: ""

  SONARR__AUTH__METHOD: External
  SONARR__AUTH__REQUIRED: Enabled

  SONARR__UPDATE__MECHANISM: Docker

  SONARR__LOG__LEVEL: info
  SONARR__LOG__ANALYTICSENABLED: "False"

  SONARR__POSTGRES__HOST: cnpg-default-rw.default.svc.cluster.local
  SONARR__POSTGRES__PORT: "5432"
