# TODO: remove DNS pool
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: dns-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.1.220-192.168.1.221

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: dns-pool
  namespace: metallb-system
spec:
  ipAddressPools:
    - dns-pool
  interfaces:
  # Ref: https://metallb.io/configuration/_advanced_l2_configuration/
  - pub
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: forge-pool
  namespace: metallb-system
spec:
  autoAssign: false
  addresses:
    - 192.168.12.70-192.168.12.99
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: forge-pool
  namespace: metallb-system
spec:
  ipAddressPools:
    - forge-pool
