# Service: prowlarr
# Ingress: prowlarr.brhd.io
# Label: app.kubernetes.io/name: prowlarr
---
apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: media
  labels:
    app.kubernetes.io/name: prowlarr
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9696
  selector:
    app.kubernetes.io/name: prowlarr
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: media
  labels:
    app.kubernetes.io/name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: prowlarr
  strategy:
    type: Recreate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: media
      labels:
        app.kubernetes.io/name: prowlarr
    spec:
      restartPolicy: Always
      containers:
        - name: prowlarr
          image: ghcr.io/hotio/prowlarr:release-2.3.0.5236
          resources:
            requests:
              memory: 100Mi
              cpu: 100m
            limits:
              memory: 200Mi
              cpu: 1000m
          envFrom:
            - secretRef:
                name: prowlarr
            - configMapRef:
                name: prowlarr
          ports:
            - containerPort: 9696
          volumeMounts:
            - name: prowlarr-config
              mountPath: /config
      volumes:
        - name: prowlarr-config
          persistentVolumeClaim:
            claimName: prowlarr-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prowlarr
  namespace: media
  labels:
    app.kubernetes.io/name: prowlarr
data:
  PROWLARR__APP__INSTANCENAME: Prowlarr
  PROWLARR__APP__THEME: dark
  PROWLARR__APP__LAUNCHBROWSER: "False"

  PROWLARR__SERVER__BINDADDRESS: "*"
  PROWLARR__SERVER__PORT: "9696"
  PROWLARR__SERVER__SSLPORT: "6969"
  PROWLARR__SERVER__ENABLESSL: "False"
  PROWLARR__SERVER__URLBASE: ""

  PROWLARR__AUTH__METHOD: External
  PROWLARR__AUTH__REQUIRED: Enabled

  PROWLARR__UPDATE__MECHANISM: Docker

  PROWLARR__LOG__LEVEL: info
  PROWLARR__LOG__ANALYTICSENABLED: "False"

  PROWLARR__POSTGRES__HOST: cnpg-default-rw.default.svc.cluster.local
  PROWLARR__POSTGRES__PORT: "5432"