---
# Ref: https://tailscale.com/kb/1441/kubernetes-operator-connector#deploy-an-exit-node-or-subnet-router
apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: tailscale-ha-router
  namespace: tailscale
  labels:
    app.kubernetes.io/name: tailscale
spec:
  replicas: 2
  tags:
    - "tag:k8s"
  hostnamePrefix: tailscale-ha-router
  subnetRouter:
    advertiseRoutes:
    - "192.168.1.0/24"
    - "192.168.12.0/25"
  exitNode: false
