# Documentation:
#   - File System Backup: https://velero.io/docs/latest/file-system-backup/
#   - Providers: https://velero.io/docs/latest/supported-providers/
#
# Plugins:
#   - AWS: https://github.com/vmware-tanzu/velero-plugin-for-aws


image:
  repository: docker.io/velero/velero
revisionHistoryLimit: 3

# TODO: Need to confirm that upgrade job is not required, if CRDs are handled by ArgoCD
upgradeCRDs: false
upgradeJobResources: {}
cleanUpCRDs: false

# https://velero.io/docs/latest/customize-installation/#customize-resource-requests-and-limits
resources: {}

initContainers:
  - name: velero-plugin-for-aws
    image: docker.io/velero/velero-plugin-for-aws:v1.13.2
    volumeMounts:
      - mountPath: /target
        name: plugins

podSecurityContext: {}


# Container Level Security Context for the 'velero' container of the Velero deployment. Optional.
# See: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext: {}
  # allowPrivilegeEscalation: false
  # capabilities:
  #   drop: ["ALL"]
  #   add: []
  # readOnlyRootFilesystem: true

livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 30

readinessProbe:
  initialDelaySeconds: 10
  periodSeconds: 30

metrics:
  enabled: true
  scrapeInterval: 30s
  scrapeTimeout: 10s

  podAnnotations: {}
  serviceMonitor:
    enabled: false
  nodeAgentPodMonitor:
    enabled: false
  prometheusRule:
    enabled: false



##
## End of deployment-related settings.
##
backupsEnabled: true
snapshotsEnabled: false

configuration:
  # Ref: https://velero.io/docs/v1.17/api-types/backupstoragelocation/
  backupStorageLocation:
  - name: storage-s3
    provider: velero.io/aws
    bucket: velero-backup
    default: true
    validationFrequency: 0s # disabled
    accessMode: ReadWrite
    credential:
      name: velero-s3-secret
      key: rustfs
    config:
      # region: default (?)
      s3ForcePathStyle: true
      s3Url: http://rustfs-svc.rustfs.svc.cluster.local:9000
      insecureSkipTLSVerify: false
    annotations: {}

  # These are server-level settings passed as CLI flags to the `velero server` command.
  # ------------------------------------------------------------------------------------
  # Name of the default backup storage location. Default: default
  defaultBackupStorageLocation:
  defaultItemOperationTimeout: 1h
  defaultBackupTTL: 72h
  disableControllers:
  repositoryMaintenanceJob:
    # Ref: https://velero.io/docs/main/repository-maintenance/
    repositoryConfigData:
      name: "velero-repo-maintenance"
      global:
        keepLatestMaintenanceJobs: 1
        podResources: {}
          # cpuRequest: "100m"
          # cpuLimit: "200m"
          # memoryRequest: "100Mi"
          # memoryLimit: "200Mi"
      repositories: {}
  namespace: backup
  defaultVolumesToFsBackup: false   # annotate volumes to backup, do not backup all (!)
  defaultRepoMaintainFrequency: 24h
  # ------------------------------------------------------------------------------------


##
## Settings for additional Velero resources.
##

rbac:
  create: true
serviceAccount:
  server:
    create: true



# Required for "File System Backups"
deployNodeAgent: true
nodeAgent:
  disableHostPath: true
  podVolumePath: /var/lib/kubelet/pods
  pluginVolumePath: /var/lib/kubelet/plugins
  useScratchEmptyDir: true
  extraArgs: []
  # TODO: tweak security context
  podSecurityContext:
    runAsUser: 0
    # fsGroup: 1337


# Backup schedules to create.
# Eg:
# schedules:
#   mybackup:
#     disabled: false
#     labels:
#       myenv: foo
#     annotations:
#       myenv: foo
#     schedule: "0 0 * * *"
#     useOwnerReferencesInBackup: false
#     paused: false
#     skipImmediately: false
#     template:
#       ttl: "240h"
#       storageLocation: default
#       includedNamespaces:
#       - foo
#       # See: https://velero.io/docs/v1.14/resource-filtering/#excludes
#       excludedNamespaceScopedResources:
#       - persistentVolumeClaims
#       excludedClusterScopedResources:
#       - persistentVolumes
schedules: {}

# Velero ConfigMaps.
# Eg:
# configMaps:
    # See: https://velero.io/docs/v1.11/file-system-backup/
#   fs-restore-action-config:
#     labels:
#       velero.io/plugin-config: ""
#       velero.io/pod-volume-restore: RestoreItemAction
#     data:
#       image: velero/velero:v1.17.1
#       cpuRequest: 200m
#       memRequest: 128Mi
#       cpuLimit: 200m
#       memLimit: 128Mi
#       secCtx: |
#         capabilities:
#           drop:
#           - ALL
#           add: []
#         allowPrivilegeEscalation: false
#         readOnlyRootFilesystem: true
#         runAsUser: 1001
#         runAsGroup: 999
configMaps: {}

##
## End of additional Velero resource settings.
##