##
## Configuration settings that directly affect the Velero deployment YAML.
##
image:
  repository: docker.io/velero/velero
  tag: v1.17.1
revisionHistoryLimit: 3

# https://velero.io/docs/latest/customize-installation/#customize-resource-requests-and-limits
resources: {}
# See: https://kubernetes.io/docs/tasks/configure-pod-container/resize-container-resources/
resizePolicy: []
# Resource requests/limits to specify for the upgradeCRDs job pod. Need to be adjusted by user accordingly.
upgradeJobResources: {}

dnsPolicy: ClusterFirst

initContainers:
  # Ref: https://github.com/vmware-tanzu/velero-plugin-for-aws
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.2
    # imagePullPolicy: IfNotPresent
    # volumeMounts:
    #   - mountPath: /target
    #     name: plugins

podSecurityContext: {}


# Container Level Security Context for the 'velero' container of the Velero deployment. Optional.
# See: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext: {}
  # allowPrivilegeEscalation: false
  # capabilities:
  #   drop: ["ALL"]
  #   add: []
  # readOnlyRootFilesystem: true

livenessProbe:
  httpGet:
    path: /metrics
    port: http-monitoring
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

readinessProbe:
  httpGet:
    path: /metrics
    port: http-monitoring
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

metrics:
  enabled: true
  scrapeInterval: 30s
  scrapeTimeout: 10s

  podAnnotations: {}
  serviceMonitor:
    enabled: false
  nodeAgentPodMonitor:
    enabled: false
  prometheusRule:
    enabled: false


upgradeCRDs: true
cleanUpCRDs: false

##
## End of deployment-related settings.
##


##
## Parameters for the `default` BackupStorageLocation and VolumeSnapshotLocation,
## and additional server settings.
##
configuration:
  # Ref: https://velero.io/docs/v1.17/api-types/backupstoragelocation/
  backupStorageLocation:
  - name: s3
    provider: aws
    bucket: velero-backup
    default: true
    validationFrequency: 0s
    accessMode: ReadWrite
    credential:
      name: velero-default-secret
      key: 
    config: {}
    annotations: {}

 

  # These are server-level settings passed as CLI flags to the `velero server` command. Velero
  # uses default values if they're not passed in, so they only need to be explicitly specified
  # here if using a non-default value. The `velero server` default values are shown in the
  # comments below.
  # --------------------
  # `velero server` default: kopia
  uploaderType:
  # `velero server` default: 1m
  backupSyncPeriod:
  # `velero server` default: 4h
  fsBackupTimeout:
  # `velero server` default: 30
  clientBurst:
  # `velero server` default: 500
  clientPageSize:
  # `velero server` default: 20.0
  clientQPS:
  # Name of the default backup storage location. Default: default
  defaultBackupStorageLocation:
  # The default duration any single item operation can take before timing out, especially important for large volume schedules. Default 4h
  defaultItemOperationTimeout:
  # How long to wait by default before backups can be garbage collected. Default: 72h
  defaultBackupTTL:
  # Name of the default volume snapshot location.
  defaultVolumeSnapshotLocations:
  # `velero server` default: empty
  disableControllers:
  # `velero server` default: false
  disableInformerCache: false
  # `velero server` default: 1h
  garbageCollectionFrequency:
  # `velero server` default: 1
  itemBlockWorkerCount:
  # Set log-format for Velero pod. Default: text. Other option: json.
  logFormat:
  # Set log-level for Velero pod. Default: info. Other options: debug, warning, error, fatal, panic.
  logLevel:
  # The address to expose prometheus metrics. Default: :8085
  metricsAddress:
  # Directory containing Velero plugins. Default: /plugins
  pluginDir:
  # The address to expose the pprof profiler. Default: localhost:6060
  profilerAddress:
  # `velero server` default: false
  restoreOnlyMode:
  # `velero server` default: customresourcedefinitions,namespaces,storageclasses,volumesnapshotclass.snapshot.storage.k8s.io,volumesnapshotcontents.snapshot.storage.k8s.io,volumesnapshots.snapshot.storage.k8s.io,persistentvolumes,persistentvolumeclaims,secrets,configmaps,serviceaccounts,limitranges,pods,replicasets.apps,clusterclasses.cluster.x-k8s.io,clusters.cluster.x-k8s.io,clusterresourcesets.addons.cluster.x-k8s.io
  restoreResourcePriorities:
  # `velero server` default: 1m
  storeValidationFrequency:
  # How long to wait on persistent volumes and namespaces to terminate during a restore before timing out. Default: 10m
  terminatingResourceTimeout:
  # Bool flag to configure Velero server to move data by default for all snapshots supporting data movement. Default: false
  defaultSnapshotMoveData:
  # Comma separated list of velero feature flags. default: empty
  # features: EnableCSI
  features:
  # Configures the timeout for provisioning the volume created from the CSI snapshot. Default: 30m
  dataMoverPrepareTimeout:
  # Resource requests/limits to specify for the repository-maintenance job. Optional.
  # https://velero.io/docs/v1.14/repository-maintenance/#resource-limitation
  repositoryMaintenanceJob:
    # Per-repository resource settings ConfigMap
    # This ConfigMap allows specifying different settings for different repositories
    # See: https://velero.io/docs/main/repository-maintenance/
    repositoryConfigData:
      # Name of the ConfigMap to create. If not provided, will use "velero-repo-maintenance"
      name: "velero-repo-maintenance"
      # Global configuration applied to all repositories
      # This configuration is used when no specific repository configuration is found
      # global:
      #   podResources:
      #     cpuRequest: "100m"
      #     cpuLimit: "200m"
      #     memoryRequest: "100Mi"
      #     memoryLimit: "200Mi"
      #   keepLatestMaintenanceJobs: 1
      #   loadAffinity:
      #     - nodeSelector:
      #         matchExpressions:
      #           - key: "cloud.google.com/machine-family"
      #             operator: "In"
      #             values: ["e2"]
      #     - nodeSelector:
      #         matchExpressions:
      #           - key: "topology.kubernetes.io/zone"
      #             operator: "In"
      #             values: ["us-central1-a", "us-central1-b", "us-central1-c"]
      #   priorityClassName: "low-priority"  # Note: priorityClassName is only supported in global configuration
      global:
        keepLatestMaintenanceJobs: 3
      # Repository-specific configurations
      # Repository keys are formed as: "{namespace}-{storageLocation}-{repositoryType}"
      # For example: "default-default-kopia" or "prod-s3-backup-kopia"
      # Note: priorityClassName is NOT supported in repository-specific configurations
      # repositories:
      #   "kibishii-default-kopia":
      #     podResources:
      #       cpuRequest: "200m"
      #       cpuLimit: "400m"
      #       memoryRequest: "200Mi"
      #       memoryLimit: "400Mi"
      #     keepLatestMaintenanceJobs: 2
      repositories: {}
  namespace: backup
  defaultVolumesToFsBackup: false
  defaultRepoMaintainFrequency: 1d

##
## End of backup/snapshot location settings.
##


##
## Settings for additional Velero resources.
##

rbac:
  # Whether to create the Velero role and role binding to give all permissions to the namespace to Velero.
  create: true
  # Whether to create the cluster role binding to give administrator permissions to Velero
  clusterAdministrator: true
  # Name of the ClusterRole.
  clusterAdministratorName: cluster-admin

# Information about the Kubernetes service account Velero uses.
serviceAccount:
  server:
    create: true
    name:
    annotations:
    labels:
    imagePullSecrets: []
    # - registrySecretName
    # Configure if API credential for Service Account is automounted.
    automountServiceAccountToken: true

# Info about the secret to be used by the Velero deployment, which
# should contain credentials for the cloud provider IAM account you've
# set up for Velero.
credentials:
  # Whether a secret should be used. Set to false if, for examples:
  # - using kube2iam or kiam to provide AWS IAM credentials instead of providing the key file. (AWS only)
  # - using workload identity instead of providing the key file. (Azure/GCP only)
  useSecret: true
  # Name of the secret to create if `useSecret` is true and `existingSecret` is empty
  name:
  # Name of a pre-existing secret (if any) in the Velero namespace
  # that should be used to get IAM account credentials. Optional.
  existingSecret:
  # Data to be stored in the Velero secret, if `useSecret` is true and `existingSecret` is empty.
  # As of the current Velero release, Velero only uses one secret key/value at a time.
  # The key must be named `cloud`, and the value corresponds to the entire content of your IAM credentials file.
  # Note that the format will be different for different providers, please check their documentation.
  # Here is a list of documentation for plugins maintained by the Velero team:
  # [AWS] https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/main/README.md
  # [GCP] https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/main/README.md
  # [Azure] https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/main/README.md
  secretContents: {}
  #  cloud: |
  #    [default]
  #    aws_access_key_id=<REDACTED>
  #    aws_secret_access_key=<REDACTED>
  # additional key/value pairs to be used as environment variables such as "DIGITALOCEAN_TOKEN: <your-key>". Values will be stored in the secret.
  extraEnvVars: {}
  # Name of a pre-existing secret (if any) in the Velero namespace
  # that will be used to load environment variables into velero and node-agent.
  # Secret should be in format - https://kubernetes.io/docs/concepts/configuration/secret/#use-case-as-container-environment-variables
  extraSecretRef: ""

# Whether to create backupstoragelocation crd, if false => do not create a default backup location
backupsEnabled: true
# Whether to create volumesnapshotlocation crd, if false => disable snapshot feature
snapshotsEnabled: true

# Whether to deploy the node-agent daemonset.
deployNodeAgent: false

nodeAgent:
  # Disables Host Path volumes for node-agent.
  disableHostPath: false
  podVolumePath: /var/lib/kubelet/pods
  pluginVolumePath: /var/lib/kubelet/plugins
  # Pod priority class name to use for the node-agent daemonset. Optional.
  priorityClassName: ""
  # Pod runtime class name to use for the node-agent daemonset. Optional.
  runtimeClassName: ""
  # Resource requests/limits to specify for the node-agent daemonset deployment. Optional.
  # https://velero.io/docs/v1.6/customize-installation/#customize-resource-requests-and-limits
  resources: {}
    # requests:
    #   cpu: 500m
    #   memory: 512Mi
    # limits:
    #   cpu: 1000m
    #   memory: 1024Mi
  # Container resize policy for the node-agent daemonset.
  # See: https://kubernetes.io/docs/tasks/configure-pod-container/resize-container-resources/
  resizePolicy: []
    # - resourceName: cpu
    #   restartPolicy: NotRequired
    # - resourceName: memory
    #   restartPolicy: RestartContainer

  # Tolerations to use for the node-agent daemonset. Optional.
  tolerations: []

  # Annotations to set for the node-agent daemonset. Optional.
  annotations: {}

  # labels to set for the node-agent daemonset. Optional.
  labels: {}

  # Additional pod labels for the node-agent daemonset. Optional
  # ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  podLabels: {}

  # will map /scratch to emptyDir. Set to false and specify your own volume
  # via extraVolumes and extraVolumeMounts that maps to /scratch
  # if you don't want to use emptyDir.
  useScratchEmptyDir: true

  # Extra volumes for the node-agent daemonset. Optional.
  extraVolumes: []

  # Extra volumeMounts for the node-agent daemonset. Optional.
  extraVolumeMounts: []

  # Additional values to be used as environment variables for node-agent daemonset. Optional.
  extraEnvVars: []
    # Simple key/value
    # - name: SIMPLE_VAR
    #   value: "simple-value"

    # FieldRef example
    # - name: MY_POD_LABEL
    #   valueFrom:
    #     fieldRef:
    #       fieldPath: metadata.labels['my_label']

  # Additional command-line arguments that will be passed to the node-agent. Optional.
  # e.g.: extraArgs: ["--foo=bar"]
  extraArgs: []

  # Configure the dnsPolicy of the node-agent daemonset
  # See: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy
  dnsPolicy: ClusterFirst

  # Configure hostAliases for node-agent daemonset. Optional
  # For more information, check: https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/
  hostAliases: []
    # - ip: "127.0.0.1"
    #   hostnames:
    #   - "foo.local"
    #   - "bar.local"

  # SecurityContext to use for the Velero deployment. Optional.
  # Set fsGroup for `AWS IAM Roles for Service Accounts`
  # see more informations at: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
  podSecurityContext:
    runAsUser: 0
    # fsGroup: 1337

  # Container Level Security Context for the 'node-agent' container of the node-agent daemonset. Optional.
  # See: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  containerSecurityContext: {}

  # Container Lifecycle Hooks to use for the node-agent daemonset. Optional.
  lifecycle: {}

  # Node selector to use for the node-agent daemonset. Optional.
  nodeSelector: {}

  # Affinity to use with node-agent daemonset. Optional.
  affinity: {}

  # DNS configuration to use for the node-agent daemonset. Optional.
  dnsConfig: {}

  # Update strategy to use for the node-agent daemonset. Optional.
  updateStrategy: {}

# Backup schedules to create.
# Eg:
# schedules:
#   mybackup:
#     disabled: false
#     labels:
#       myenv: foo
#     annotations:
#       myenv: foo
#     schedule: "0 0 * * *"
#     useOwnerReferencesInBackup: false
#     paused: false
#     skipImmediately: false
#     template:
#       ttl: "240h"
#       storageLocation: default
#       includedNamespaces:
#       - foo
#       # See: https://velero.io/docs/v1.14/resource-filtering/#excludes
#       excludedNamespaceScopedResources:
#       - persistentVolumeClaims
#       excludedClusterScopedResources:
#       - persistentVolumes
schedules: {}

# Velero ConfigMaps.
# Eg:
# configMaps:
    # See: https://velero.io/docs/v1.11/file-system-backup/
#   fs-restore-action-config:
#     labels:
#       velero.io/plugin-config: ""
#       velero.io/pod-volume-restore: RestoreItemAction
#     data:
#       image: velero/velero:v1.17.1
#       cpuRequest: 200m
#       memRequest: 128Mi
#       cpuLimit: 200m
#       memLimit: 128Mi
#       secCtx: |
#         capabilities:
#           drop:
#           - ALL
#           add: []
#         allowPrivilegeEscalation: false
#         readOnlyRootFilesystem: true
#         runAsUser: 1001
#         runAsGroup: 999
configMaps: {}

##
## End of additional Velero resource settings.
##