apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rustfs
resources:
  - dns-endpoint.yaml
  - secret.yaml
  - ingress-cdn.yaml
helmCharts:
  - name: rustfs
    namespace: rustfs
    releaseName: rustfs
    version: 0.0.82
    repo: https://charts.rustfs.com/
    valuesInline:
      replicaCount: 1
      image:
        repository: rustfs/rustfs
      mode:
        standalone:
          enabled: true
        distributed:
          enabled: false
      secret:
        existingSecret: rustfs

      config:
        rustfs:
          # Examples
          # volumes: "/data/rustfs0,/data/rustfs1,/data/rustfs2,/data/rustfs3"
          # volumes: "http://rustfs-{0...3}.rustfs-headless:9000/data/rustfs{0...3}"
          volumes: ""
          address: ":9000"
          console_enable: "true"
          console_address: ":9001"
          log_level: "info"
          rust_log: "info"
          region: "eu-west-1"
          obs_log_directory: "/logs"
          obs_environment: "develop"

      serviceAccount:
        create: true
        automount: true

      podSecurityContext:
        fsGroup: 10001
        runAsUser: 10001
        runAsGroup: 10001

      containerSecurityContext:
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
        runAsNonRoot: true

      service:
        type: ClusterIP
        ep_port: 9000
        console_port: 9001

      ingress:
        enabled: true
        className: "nginx"
        nginxAnnotations:
          nginx.ingress.kubernetes.io/affinity: cookie
          nginx.ingress.kubernetes.io/session-cookie-expires: "3600"
          nginx.ingress.kubernetes.io/session-cookie-hash: sha1
          nginx.ingress.kubernetes.io/session-cookie-max-age: "3600"
          nginx.ingress.kubernetes.io/session-cookie-name: rustfs
          nginx.ingress.kubernetes.io/proxy-body-size: '0'
        hosts:
          - host: rustfs.brhd.io
            paths:
              - path: /
                pathType: ImplementationSpecific
          - host: s3.brhd.io
            paths:
              - path: /
                pathType: ImplementationSpecific

      resources:
        limits:
          cpu: 200m
          memory: 300Mi
        requests:
          cpu: 50m
          memory: 150Mi

      livenessProbe:
        httpGet:
          path: /health
          port: endpoint
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3

      readinessProbe:
        httpGet:
          path: /health
          port: endpoint
        initialDelaySeconds: 30
        periodSeconds: 5
        timeoutSeconds: 3
        successThreshold: 1
        failureThreshold: 3

      storageclass:
        name: nfs-subdir
        dataStorageSize: 20Gi
        logStorageSize: 100Mi
