apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cnpg-ha
# Ref: https://cloudnative-pg.io/documentation/current/cloudnative-pg.v1/#postgresql-cnpg-io-v1-ClusterSpec
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:17.2
  imagePullPolicy: IfNotPresent
  instances: 3
  enablePDB: true
  primaryUpdateStrategy: unsupervised
  logLevel: info

  postgresql:
    parameters:
      timezone: "Etc/UTC"
      max_slot_wal_keep_size: 200MB
      archive_timeout: 30min

  managed:
    # Ref: https://cloudnative-pg.io/documentation/current/service_management/
    services:
      disabledDefaultServices: ["r","ro"]

  enableSuperuserAccess: true
  superuserSecret:
    name: cnpg-default-secret
  
  resources:
    requests:
      memory: 500Mi
      cpu: 200m
    limits:
      memory: 1Gi
  
  storage:
    size: 5Gi
    storageClass: openebs-hostpath
  
  # Ref: https://cloudnative-pg.io/documentation/current/backup_barmanobjectstore/
  backup:
    target: primary
    retentionPolicy: 14d
    barmanObjectStore:
      destinationPath: "s3://cnpg-backup/"
      endpointURL: http://rustfs-svc.rustfs.svc.cluster.local:9000
      serverName: cnpg-ha
      s3Credentials:
        accessKeyId:
          name: cnpg-default-secret
          key: username
        secretAccessKey:
          name: cnpg-default-secret
          key: password
      data:
        compression: bzip2
      wal:
        compression: bzip2

  # Ref: https://cloudnative-pg.io/documentation/current/instance_manager/
  startDelay: 120
  stopDelay: 30
  smartShutdownTimeout: 15
  probes:
    readiness:
      initialDelaySeconds: 15
      timeoutSeconds: 5
      periodSeconds: 30
    liveness:
      initialDelaySeconds: 15
      timeoutSeconds: 5
      periodSeconds: 30

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: feature.node.kubernetes.io/storage-nonrotationaldisk
              operator: In
              values: ["true"]
            - key: node.kubernetes.io/microk8s-controlplane
              operator: Exists
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: cnpg.io/cluster
                operator: In
                values:
                  - cnpg-ha
          topologyKey: kubernetes.io/hostname

  bootstrap:
    # Ref: https://cloudnative-pg.io/documentation/current/recovery/#recovery-from-a-backup-object
    recovery:
      source: cnpg-ha-backup
      # recoveryTarget:
      #   targetTime: "2025-01-01 00:00:00.00000+00"  # PITR

  externalClusters:
    - name: cnpg-ha-backup
      barmanObjectStore:
        destinationPath: "s3://cnpg-backup/"
        serverName: cnpg-ha
        endpointURL: http://rustfs-svc.rustfs.svc.cluster.local:9000
        s3Credentials:
          accessKeyId:
            name: cnpg-default-secret
            key: username
          secretAccessKey:
            name: cnpg-default-secret
            key: password
